/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
  display: block;
  margin: 0 auto;
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid black;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
